.content {
  height: 100%;
  position: relative;

  .icon {
    color: #1677ff;
    position: absolute;
    cursor: pointer;
    display: none;
  }

}

.popover {
  max-height: 200px;
  overflow: auto;
}

.handleItem {
  margin-bottom: 4px;
  color: #1677ffa5;
  display: flex;
  align-items: center;

  .label {
    background: #a4d8ff6e;
    border-radius: 6px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-right: 2px;
  }
}

.segmentedBg {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 4px;

  .icon {
    transition: all .2s;
    margin: 0 1px;
    border-radius: 4px;
    cursor: pointer;
    width: 35px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    color: rgba(0, 0, 0, 0.88);

    &:hover {
      background-color: #e7e7e7;
    }
  }

  .active {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

    &:hover {
      background-color: #f9f9f9;
    }
  }
}

:global {
  .react-grid-item {
    .react-resizable-handle-se {
      bottom: -3px !important;
      right: -3px !important;
    }

    .react-resizable-handle-ne {
      top: -3px !important;
      right: -3px !important;
    }

    border: 1px dashed #1677ff;

    .react-resizable-handle {
      padding: 0;
    }

    &>.react-resizable-handle::after {
      display: none;
    }
  }

  .react-grid-item.react-grid-placeholder {
    background: #a4d8ff;
  }
}