.terms {
  padding: 10px 20px;
  box-shadow: 5px 5px 20px #fff, 5px 5px 20px #babecc;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  .container {
    display: flex;
  }

  .title {
    display: inline-block;
    font-family: alibaba;
    color: #fff;
    writing-mode: vertical-rl;
    width: 40px;
    height: 40px;
    font-weight: 100;
    text-align: center;
    
    background-size: contain;
    background-image: url('../../../../assets/svg/印章.svg');
  }

  .content {
    font-family: alibaba;
    display: inline-block;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 600px) {
  .terms {
    .title {
      font-family: alibaba;
      font-size: 40px;
    }

    .content {
      font-size: 12px;
    }
  }
}
